.App {
  text-align: center;
}

.App-header {
  background-color: #bcc6cc;
  height: 50px;
  padding: 20px;
  color: #c12090;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.GenerateTeamRoster {
  margin-top: 20px;
}

.Roster {
  margin: auto;
  width: 65%;
  height: 75vh;
  overflow-y: scroll;
}

.AddRobot {
  margin: 0 auto;
  width: 30%;
}

.generate__container {
  display: flex;
  border: solid;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
}

.generate__error-message {
  color: red;
  border: solid red;
  background: #fdf;
  line-height: 30px;
  position: fixed;
  top: 75px;
  left: 15%;
}

.robot-data {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: left;
}

.header__category {
  width: 100%;
}

.nav {
  background: #fff;
  text-decoration: none;
  border: solid;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

select {
  border-radius: 0;
  width: 80%;
  height: 30px;
}

button {
  background: grey;
  color: #fff;
  height: 30px;
}

input {
  height: 25px;
}

table {
  border: solid;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 5px;
}

tbody {
  height: 20px;
}

th, td {
  border: solid thin;
}

li {
  list-style-type: none
}

li:hover {
  color: blue;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  body {
    width: 100%;
  }

  .Roster {
    width: 100%;
  }

  .AddRobot {
    width: 100%;
  }

  .generate__container {
    display: block;
  }

}
